.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.smile1 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/1 - Bonding After.jpg") no-repeat;
    display: inline-block;
}

    .smile1:hover {
        background: url("../images/smile_gallery/1 - Bonding Before.jpg") no-repeat;
    }
.smile2 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/2 - Diastema After.jpg") no-repeat;
    display: inline-block;
}

    .smile2:hover {
        background: url("../images/smile_gallery/2 - Diastema Before.jpg") no-repeat;
    }
.smile3 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/3 - Replace Silver Fills After 2.jpg") no-repeat;
    display: inline-block;
}

    .smile3:hover {
        background: url("../images/smile_gallery/3 - Replace Silver Fills Before 2.jpg") no-repeat;
    }
.smile4 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/4 - Replace old Crowns After.jpg") no-repeat;
    display: inline-block;
}

    .smile4:hover {
        background: url("../images/smile_gallery/4 - Replace old Crowns Before.jpg") no-repeat;
    }

.smile5 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/5 - Porcelain Crowns After 2.jpg") no-repeat;
    display: inline-block;
}

    .smile5:hover {
        background: url("../images/smile_gallery/5 - Porcelain Crowns Before 2.jpg") no-repeat;
    }

.smile6 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/6 - Porcelain Crowns.jpg") no-repeat;
    display: inline-block;
}

    .smile6:hover {
        background: url("../images/smile_gallery/6 - Porcelain Crowns.jpg") no-repeat;
    }

.smile7 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/7 - Porcelain Crowns After 4.jpg") no-repeat;
    display: inline-block;
}

    .smile7:hover {
        background: url("../images/smile_gallery/7 - Porcelain Crowns Before 4.jpg") no-repeat;
    }

.smile8 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/8 - Porcelain Crowns After 5.jpg") no-repeat;
    display: inline-block;
}

    .smile8:hover {
        background: url("../images/smile_gallery/8 - Porcelain Crowns Before 5.jpg") no-repeat;
    }

.smile9 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/9 - Porcelain Crowns After 6.jpg") no-repeat;
    display: inline-block;
}

    .smile9:hover {
        background: url("../images/smile_gallery/9 - Porcelain Crowns Before 6.jpg") no-repeat;
    }

.smile10 {
    width: 100%;
    height: 275px;
    background: url("../images/smile_gallery/10 - Porcelain Crowns After 3.jpg") no-repeat;
    display: inline-block;
}

    .smile10:hover {
        background: url("../images/smile_gallery/10 - Porcelain Crowns Before 3.jpg") no-repeat;
    }